<section class="banner2_section mt-4 mb-4">
    <div class="container">

        <div class="row">
            <div class="col-md-6 text-center pt-5">
                {{!-- left side  --}}
                <h3>We work for people not for money</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil voluptas necessitatibus dicta earum explicabo temporibus placeat modi suscipit provident quisquam!</p>
                <button class="btn btn-primary">Click here</button>
            </div>
            <div class="col-md-6 text-center pt-2">
                {{!-- right side  --}}
                <img src="/static/images/pg1.svg" style="max-height:17rem;"
                alt="image" class="img-fluid rounded">
            </div>
        </div>

    </div>

</section>