<section class="banner1_section py-5 background3 mt-1">

    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Start learning new technology here !! </h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, voluptate. Optio et quod placeat repellendus unde dolorum, officia reiciendis esse!</p>
                <button class="btn btn-outline-primary">Start Learning</button>
            </div>
        </div>
    </div>

</section>