
<footer class="footer background3 text-center">
    <siv class="container">
        <div class="row">
            <div class="col-md-12">
                @2022 Copyright:  <span>Sourav Mete</span>
            </div>
        </div>
    </siv>
</footer>